In [1]:
import statistics as st
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\User\Downloads\dataset w7.csv")

In [3]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

# 1.To carry out descriptive analytics on the dataset

In [6]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2.To check whether female and male students scored the same marks

In [7]:
import scipy.stats as stats

In [8]:
#let null hypothesis,Ho = female and male students scored different marks
#let alternate hypothesis,H1 = female and male students scored the same marks
#alpha = 0.05

In [9]:
female_data=data[data.Gender=='female']
male_data=data[data.Gender=='male']

In [10]:
t,p=stats.ttest_ind(female_data['Total Marks'],male_data['Total Marks'])

In [11]:
print('p value is ',p)

p value is  0.4937822317960763

In [14]:
if p<0.05:
    print('reject null hypothesis\n','that is female and male students scored the same marks')
else:
    print('fail to reject null hypothesis\n','that is female and male students scored the different marks')

fail to reject null hypothesis
 that is female and male students scored the different marks

In [13]:
#that is, the marks scored by female and male students are NOT same

# 3. To check whether the test preparation helped the students

In [15]:
#let null hypothesis,Ho = test preparation did not help the students
#let alternate hypothesis,H1 = test preparation helped the students
##alpha = 0.05

In [16]:
t_none=data[data['Test preparation']=='none']
t_completed=data[data['Test preparation']=='completed']

In [17]:
t_val,p_val=stats.ttest_ind(t_none['Total Marks'],t_completed['Total Marks'])

In [18]:
print('p value is',p_val)

p value is 0.0012671292457320106

In [20]:
if p_val<0.05:
    print('reject null hypothesis\n','That is test preparation helped the students')
else:
    print('fail to reject null hypothesis\n','that is test preparation did not help the students')

reject null hypothesis
 That is test preparation helped the students

In [21]:
#that is,the test preparation helped the students